header {
  background-color: #082c5c;
  color: #fff;
  padding: 10px 20px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

header nav .logo img {
  width: 150px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 40px;
}


header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-right: 15px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #ffcc00;
}

header nav ul li fa-icon {
  cursor: pointer;
}

