.filter-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 10px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.filter-dropdown {
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.filter-dropdown select {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  width: auto; /* Set width as needed */
  background-color: #fff;
  height: 40px;
  cursor: pointer;
  color: #757575; /* Default text color */
}

.span-box {
  margin-left: 50px;
  padding-top: 20px;
}

.search-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto; /* Move the search bar to the right */
}

/* Style the search bar */
.search-bar input {
  padding: 12px;
  border: 1px solid #000;
  border-radius: 5px;
  width: 250px; /* Set width as needed */
  font-size: 14px;
  height: 40px;
}

.table {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.table th {
  cursor: pointer;
  vertical-align: middle;
}

.table td {
  vertical-align: middle;
}

.d-flex {
  display: flex; /* Change to flex display */
  justify-content: center; /* Center align horizontally */
  width: 95%;
  margin: 20px auto; /* Add margin to separate from the table */
}

.d-flex > ngb-pagination {
  margin-right: 10px; /* Add some space between the paginator and the select element */
}

.empty-message {
  margin-top: 50px;
  margin-bottom: 340px;
  text-align: center;
  font-size: 18px;
}

.empty-message p {
  color: #605959;
}

.clear-filters button {
  background-color: #ffffff;
  font-weight: 500;
  color: rgb(0, 0, 0);
  border: none;
  padding: px px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}
