<form>

  <div class="filter-container">
    <div class="filter-dropdown">
      <app-date-picker (dateRangeSelected)="setDateRange($event.startDate, $event.endDate)"></app-date-picker>
    </div>
    <div class="clear-filters" *ngIf="!hasFiltersApplied()">
      <button (click)="clearFilters()">Clear Filter</button>
    </div>
    <div class="span-box">
      <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
    </div>
    <div class="search-bar">
      <input class="form-control ml-2" type="text" name="searchTerm" placeholder="Enter your search term" [(ngModel)]="service.searchTerm"/>
    </div>
  </div>

  <div class="content">
    <ng-container *ngIf="ticketData$ | async as ticketData">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-md-1" sortable="ticketID" (sort)="onSort($event)">TICKET NO</th>
            <th class="col-md-2" sortable="title" (sort)="onSort($event)">TITLE</th>
            <th class="col-md-2" sortable="userName" (sort)="onSort($event)">SUBMITTED BY</th>
            <th class="col-md-2" sortable="description" (sort)="onSort($event)">DESCRIPTION</th>
            <th class="col-md-2" sortable="submissionDate" (sort)="onSort($event)">SUBMISSION DATE</th>
            <th class="col-md-2" sortable="statusID" (sort)="onSort($event)">STATUS</th>
            <th class="col-md-2" sortable="priorityName" (sort)="onSort($event)">PRIORITY</th>
            <th class="col-md-2" sortable="categoryName" (sort)="onSort($event)">CATEGORY</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of ticketData">
            <!-- Make the ticketID clickable -->
            <td style="font-weight: bold;" scope="row">
              <a *ngIf="ticket.ticketID !== undefined" (click)="editTicket(ticket.ticketID)" class="clickable-link">
                {{ ticket.ticketID }}
              </a>              
            </td>
            <td>{{ ticket.title }}</td>
            <td>{{ ticket.userName }}</td>
            <td>{{ ticket.description }}</td>
            <td>{{ ticket.submissionDate | date }}</td>
            <td>{{ ticket.statusName }}</td>
            <td>{{ ticket.priorityName }}</td>
            <td>{{ ticket.categoryName }}</td>
          </tr>
        </tbody>
        
      </table>

      <div class="empty-message" *ngIf="ticketData.length === 0">
        <p>No tickets found.</p>
      </div>
    </ng-container>
  </div>

  <div class="d-flex justify-content-between">
    <ngb-pagination 
        [collectionSize]="(total$ | async) ?? 0" 
        [(page)]="service.page" 
        [pageSize]="service.pageSize"
        [maxSize]="3">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="20">20 items per page</option>
      <option [ngValue]="50">50 items per page</option>
    </select>
  </div>

</form>
