<form>
  <div class="filter-container">
    <div class="filter-dropdown">
      <app-date-picker (dateRangeSelected)="setDateRange($event.startDate, $event.endDate)"></app-date-picker>
    </div>
    <div class="clear-filters" *ngIf="!hasFiltersApplied()">
      <button (click)="clearFilters()">Clear Filter</button>
    </div>
    <div class="span-box">
      <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
    </div>
    <div class="search-bar">
      <input class="form-control ml-2" type="text" name="searchTerm" placeholder="Enter your search term" [(ngModel)]="service.searchTerm"/>
    </div>
  </div>

  <div class="content">
    <ng-container *ngIf="ticketData$ | async as ticketData">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-md-1" sortable="ticketID" (sort)="onSort($event)">
              TICKET NO <span *ngIf="isSorted('ticketID')">{{ getSortIcon('ticketID') }}</span>
            </th>
            <th class="col-md-2" sortable="title" (sort)="onSort($event)">
              TITLE <span *ngIf="isSorted('title')">{{ getSortIcon('title') }}</span>
            </th>
            <th class="col-md-2" sortable="userName" (sort)="onSort($event)">
              SUBMITTED BY <span *ngIf="isSorted('userName')">{{ getSortIcon('userName') }}</span>
            </th>
            <th class="col-md-2" sortable="description" (sort)="onSort($event)">
              DESCRIPTION <span *ngIf="isSorted('description')">{{ getSortIcon('description') }}</span>
            </th>
            <th class="col-md-2" sortable="submissionDate" (sort)="onSort($event)">
              SUBMISSION DATE <span *ngIf="isSorted('submissionDate')">{{ getSortIcon('submissionDate') }}</span>
            </th>
            <th class="col-md-1" sortable="statusID" (sort)="onSort($event)">
              STATUS <span *ngIf="isSorted('statusID')">{{ getSortIcon('statusID') }}</span>
            </th>
            <th class="col-md-1" sortable="priorityName" (sort)="onSort($event)">
              PRIORITY <span *ngIf="isSorted('priorityName')">{{ getSortIcon('priorityName') }}</span>
            </th>
            <th class="col-md-2" sortable="categoryName" (sort)="onSort($event)">
              CATEGORY <span *ngIf="isSorted('categoryName')">{{ getSortIcon('categoryName') }}</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of ticketData">
            <td style="font-weight: bold;" scope="row">
              <a *ngIf="ticket.ticketID !== undefined" (click)="editTicket(ticket.ticketID)" class="clickable-link">
                {{ 'TICK' + ticket.ticketID }}
              </a>
            </td>
            <td>{{ ticket.title | truncate: 5 }}</td> <!-- Adjust the number as needed -->
            <td>{{ ticket.userName }}</td>
            <td>{{ ticket.description | truncate: 5 }}</td> <!-- Adjust the number as needed -->
            <td>{{ ticket.submissionDate | date }}</td>
            <td>{{ ticket.statusName }}</td>
            <td>{{ ticket.priorityName }}</td>
            <td>{{ ticket.categoryName }}</td>
          </tr>
        </tbody>
      </table>

      <div class="empty-message" *ngIf="ticketData.length === 0">
        <p>No tickets found.</p>
      </div>
    </ng-container>
  </div>

</form>
