<div class="report-form">
  <div class="label-input">
    <label for="work-week" class="work-week-label">Work Week:</label><br>
    <input type="text" id="work-week" name="work-week" [(ngModel)]="workWeek" disabled class="work-week-input">
  </div>

  <div class="add-task">
    <button class="btn-add-task" (click)="ngxSmartModalService.getModal('myModal').open()">Add Task</button>
  </div>
</div>

<ngx-smart-modal #confirmationModal identifier="confirmationModal" [closable]="false" [dismissable]="false" [escapable]="false">
  <div class="modal-header">
    <h5 class="modal-title">Confirmation</h5>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="isSubmitting">Are you sure you want to submit this report?</ng-container>
    <ng-container *ngIf="!isSubmitting">Are you sure you want to save this report?</ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="confirmAction()">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="cancelAction()">No</button>
  </div>
</ngx-smart-modal>



<ngx-smart-modal #myModal identifier="myModal" [closable]="false" [dismissable]="false" [escapable]="false">
  <div class="modal-header">
    <h5 class="modal-title" *ngIf="!isEditMode">Add a Task</h5>
    <h5 class="modal-title" *ngIf="isEditMode">Edit Task</h5>
  </div>

  <div class="modal-body">
    <form #myForm="ngForm">
      <div class="form-group">
        <label for="category-label" class="col-form-label">Category:</label> <br>
        <select name="cat" id="category" [(ngModel)]="ngSelect" class="form-control" required>
          <option [ngValue]="null" disabled>Select a Category</option>
          <option *ngFor="let category of categories" [value]="category.categoryID">{{ category.categoryName }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="task-label" class="col-form-label">Task:</label> <br>
        <textarea name="task" [(ngModel)]="ngTask" class="form-control" id="task" placeholder="Task Description here..." required></textarea>
      </div>
      <div class="form-group">
        <label for="work-label" class="col-form-label">Working hour:</label> <br>
        <input type="number" name="workHour" [(ngModel)]="workHour" class="form-control" id="workingHour"  required min="0.5" step="0.5" (keydown)="preventTyping($event)" >
      </div>
    </form>    
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="addOrEditTask(myForm)">
      <ng-container *ngIf="!isEditMode">Add Task</ng-container>
      <ng-container *ngIf="isEditMode">Edit Task</ng-container>
    </button>
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
  </div>
</ngx-smart-modal>

<div class="col-md-10 mx-auto">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-1">NO.</th>
        <th class="col-md-1">CATEGORY</th>
        <th style="text-align: center;" class="col-md-5">TASK DESCRIPTION</th>
        <th style="text-align: center;" class="col-md-2">WORKING HOUR</th>
        <th class="col-md-1">ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; let i = index;">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ getCategoryName(task.categoryID) }}</td>
        <td>
          <textarea [(ngModel)]="task.taskDescription" class="form-control" rows="3" disabled>{{ task.taskDescription }}</textarea>
        </td>                
        <td style="text-align: center;">{{ task.workHour }}</td>
        <td>
          <button class="editDelete" mat-icon-button color="primary" aria-label="Edit" (click)="editTask(task)">
            <mat-icon>edit</mat-icon>
          </button>
          
          <button mat-icon-button color="warn" aria-label="Delete" (click)="deleteTask(task)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="tasks.length === 0" class="no-tasks-message">
    There are no tasks added currently...
  </div>

  <table class="table">
    <tbody>
      <tr>

        <td style="font-weight: bold;" class="col-md-7">Total Working Hours:</td>
        <td style="font-weight: bold; text-align: center;" class="col-md-2">{{ totalWorkHours }}</td>
        <td class="col-md-1"></td>
        <!-- <td class="col-md-1"></td> -->
      </tr>
    </tbody>
  </table>

  <!--Note, isEditMode by default is false...-->
  <div class="submitCancel">
    <button *ngIf="reportID && !isEditMode" type="button" class="submit-button" (click)="openConfirmationModal(false)">Save Report</button>
    <button *ngIf="!reportID || isEditMode" type="button" class="submit-button" (click)="openConfirmationModal(true)">Submit Report</button>
    <button type="button" class="cancel-button" (click)="cancelReport()">Cancel</button>
  </div>

  <ng-template #successTpl>Task Added Successfully</ng-template>
  <ng-template #dangerTpl>Empty or Incorrect Inputs</ng-template>
  
  <app-toasts-container></app-toasts-container>

</div>
